/* Tipografía */
@font-face {
  font-family: "quicksand-regular";
  src: url("/assets/fonts/Quicksand-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "quicksand-light";
  src: url("/assets/fonts/Quicksand-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --hover: #551a8b;
  --font-family: "quicksand-regular";
  --font-family-light: "quicksand-light";
}

/****************************************
 *    Base
 *****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

a:active,
a:hover {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

img {
  max-width: 100%;
  padding-top: 3em;
}

[azulpastel] {
  background: #e0faf8;
}

/****************************************
 *    Components - Common
 *****************************************/
/* Menu */
.menu {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.menu a {
  text-transform: uppercase;
}

/* Desktop */
@media screen and (min-width: 40em) {
  .site-container {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
  }

  .menu {
    height: 100vh;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

/* Slider Home */
.slider-container {
  height: 600px;
  padding: 0 3em;
}

/* Desktop */
@media screen and (min-width: 40em) {
  .site-container > * {
    height: 100vh;
  }
}

/****************************************
 *    Helpers
 *****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  outline: 2px dotted blue;
}

/****************************************
proyectos 
*****************************************/
.proyectos {
  font-family: var(--font-family-light);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
  align-items: center;
  justify-items: center;
  margin-top: 1em;
}

.titulo {
  display: grid;
  justify-items: left;
}
.img {
  max-width: 100%;
  padding-top: 3em;
}

.descripcionlilium {
  display: grid;
  justify-items: left;
}

/****************************************
 Proyecto Item
*****************************************/
.proyecto-item-container {
  margin: 0 auto;
}

.proyecto-item-titulo {
  font-size: 25px;
  color: #bebebe;
  padding: 2em;
}

.proyecto-item-imagenes {
  max-width: 100%;
  margin: 0 auto;
}

.proyecto-item-descripcion {
  max-width: 80vw;
  margin: 0 auto;
  font-size: 20px;
}
